In [2]:
import pandas as pd

In [3]:
path = 'Resources/purchase_data.json'
heroes = pd.read_json(path)
heroes.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [4]:
# **Player Count**

# Total number of unique players (based on SN)
total_players = len(heroes['SN'].unique())
# Create DF
total_players_df = pd.DataFrame({'Total number of players': [total_players]})
total_players_df

   Total number of players
0                      573

In [5]:
# **Purchasing Analysis (Total)**

# Number of unuque items bought, differs with item name
check = len(heroes['Item ID'].unique())
number_unique_items = len(heroes['Item Name'].unique()) #179 somehow
# Average price
av_purch_price = round(heroes['Price'].mean(), 2)
# Number of purchases is equal to rows number (I hope.. )
number_purchases = heroes['Age'].count()
# Total revenue - sum of all prices
total_revenue = heroes['Price'].sum()
# Create DF
purch_analysis_df = pd.DataFrame({'Number of Unique Items': [number_unique_items], 'Average Purchase Price': [av_purch_price],
                                 'Total Number of Purchases': [number_purchases], 'Total Revenue': [total_revenue]})
purch_analysis_df

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.93,179,780,2286.33

In [6]:
# Check what we have in column 'Gender'
heroes['Gender'].value_counts()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [7]:
# **Gender Demographics**

# Create a DF with Gender & SN only
gender_df = heroes[['SN', 'Gender']]
# Delete all duplicates in SN, exept the last one (keep='last')
clean_gender = gender_df.drop_duplicates(['SN'], keep='last')
# Change index to Gender, to use loc. function
clean_gender_ind = clean_gender.set_index('Gender')
# Use loc. to count all 3 variations
male_count = clean_gender_ind.loc['Male', 'SN'].count()
female_count = clean_gender_ind.loc['Female', 'SN'].count()
other_count = clean_gender_ind.loc['Other / Non-Disclosed', 'SN'].count()
# Count persentages
male_perc = round((male_count/total_players*100), 2)
female_perc = round((female_count/total_players*100), 2)
other_perc = round((other_count/total_players*100), 2)
# Create DF
gender_demo = {'Gender': ['Male', 'Female', 'Other / Non-Disclose'],
              'Total count': [male_count, female_count, other_count],
              'Percentage of Players': [male_perc, female_perc, other_perc]}
gender_demo_df = pd.DataFrame(gender_demo)
new_gender_demo = gender_demo_df.set_index('Gender')
new_gender_demo

                      Percentage of Players  Total count
Gender
Male                                  81.15          465
Female                                17.45          100
Other / Non-Disclose                   1.40            8

In [8]:
# **Purchasing Analysis (Gender)**

# Set Gender as index in original df
gender_ind = heroes.set_index('Gender')

# Count a number of purchases
male_purch = gender_ind.loc['Male', 'SN'].count()
female_purch = gender_ind.loc['Female', 'SN'].count()
other_purch = gender_ind.loc['Other / Non-Disclosed', 'SN'].count()

# Count average and total purchases
male_avg_price = round(gender_ind.loc['Male', 'Price'].mean(),2)
male_total = round(gender_ind.loc['Male', 'Price'].sum(), 2)
female_avg_price = round(gender_ind.loc['Female', 'Price'].mean(),2)
female_total = round(gender_ind.loc['Female', 'Price'].sum(), 2)
other_avg_price = round(gender_ind.loc['Other / Non-Disclosed', 'Price'].mean(),2)
other_total = round(gender_ind.loc['Other / Non-Disclosed', 'Price'].sum(), 2)

# Count normalized totals
male_norm_purch = round((male_total / male_count), 2)
female_norm_purch = round((female_total / female_count), 2)
other_norm_purch = round((other_total / other_count), 2)

# Create answer DF
purch_an_gender = {'Gender': ['Male', 'Female', 'Other / Non-Disclose'],
                   'Purchase Count': [male_purch, female_purch, other_purch],
                   'Average Purchase Price': [male_avg_price, female_avg_price, other_avg_price], 
                  'Total Purchase Value': [male_total, female_total, other_total], 
                  'Normalized Totals': [male_norm_purch, female_norm_purch, other_norm_purch]}
purch_an_gender_df = pd.DataFrame(purch_an_gender)
purch_gender_answ = purch_an_gender_df.set_index('Gender')
purch_gender_answ

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Male,2.95,4.02,633,1867.68
Female,2.82,3.83,136,382.91
Other / Non-Disclose,3.25,4.47,11,35.74

In [9]:
# **Age Demographics**

# Check min and max values
print(heroes['Age'].max())
print(heroes['Age'].min())

45
7

In [10]:
# Create bins and labels to them
bins = [4,9,14,19,24,29,34,39,44,49]
labels = ['5 to 9', '10 to 14', '15 to 19', '20 to 24', '25 to 29', '30 to 34',
          '35 to 39', '40 to 44', '45 to 50']
# Add new column with bins
heroes['Age Bins'] = pd.cut(heroes["Age"],bins,labels=labels)
# Group by a new column
age_grouped = heroes.groupby('Age Bins')
# Pick up values
age_purch_count = (age_grouped['Age'].count())
age_avg_purch_price = round((age_grouped['Price'].mean()), 2)
age_total_purch_value = (age_grouped['Price'].sum())

In [11]:
age_df = heroes[['SN', 'Age', 'Age Bins']]
# Delete all duplicates in SN, exept the last one (keep='last')
clean_age = age_df.drop_duplicates(['SN'], keep='last')
clean_age_grouped = clean_age.groupby('Age Bins')

In [12]:
age_demo_df = pd.DataFrame({'Total Count': clean_age_grouped.size(),
                      'Percentage of Players': round(((clean_age_grouped.size()/total_players)*100),2)})
age_demo_df

          Percentage of Players  Total Count
Age Bins
5 to 9                     3.32           19
10 to 14                   4.01           23
15 to 19                  17.45          100
20 to 24                  45.20          259
25 to 29                  15.18           87
30 to 34                   8.20           47
35 to 39                   4.71           27
40 to 44                   1.75           10
45 to 50                   0.17            1

In [13]:
# Purchasing Analysis (Age)
purch_age_df = pd.DataFrame({'Purchase Count': age_purch_count,
                           'Average Purchase Price': age_avg_purch_price,
                            'Total Purchase Value': age_total_purch_value,
                            'Normalized Totals': round(age_total_purch_value/clean_age_grouped.size(), 2)})
purch_age_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Age Bins,,,,
5 to 9,2.98,4.39,28,83.46
10 to 14,2.77,4.22,35,96.95
15 to 19,2.91,3.86,133,386.42
20 to 24,2.91,3.78,336,978.77
25 to 29,2.96,4.26,125,370.33
30 to 34,3.08,4.20,64,197.25
35 to 39,2.84,4.42,42,119.40
40 to 44,3.19,5.10,16,51.03
45 to 50,2.72,2.72,1,2.72

In [28]:
# **Top Spenders**

price_sn = heroes[['SN', 'Price']]
pr_sn_grouped = price_sn.groupby(['SN'])
price_df = pd.DataFrame(pr_sn_grouped.sum())
price_sorted = price_df.sort_values('Price', ascending=False)
spenders_price = price_sorted.head(5)
spenders_price.reset_index(inplace=True)

# Create a second pd with purchase counts
price_count_df = pd.DataFrame(pr_sn_grouped.count())
price_count_df.reset_index(inplace=True)

# Merge in one
merged_price = pd.merge(spenders_price, price_count_df, on='SN')
merged_price.columns = ['SN', 'Total Purchase Value', 'Purchase Count']
merged_price['Average Purchase Price'] = round((merged_price['Total Purchase Value'] / merged_price['Purchase Count']),2)
merged_price

            SN  Total Purchase Value  Purchase Count  Average Purchase Price
0  Undirrala66                 17.06               5                    3.41
1     Saedue76                 13.56               4                    3.39
2  Mindimnya67                 12.74               4                    3.18
3   Haellysu29                 12.73               3                    4.24
4       Eoda93                 11.58               3                    3.86