In [64]:
import pandas as pd

In [108]:
path = 'Resources/purchase_data.json'
heroes = pd.read_json(path)
heroes.loc[heroes['Item Name'] == 'Final Critic',:]

     Age  Gender  Item ID     Item Name  Price            SN
3     21    Male       92  Final Critic   1.36  Pheusrical25
54    25  Female      101  Final Critic   4.62     Minduli80
193   19    Male      101  Final Critic   4.62   Farusrian86
226   25  Female       92  Final Critic   1.36  Chamistast30
415   25  Female       92  Final Critic   1.36  Chamistast30
431   37    Male       92  Final Critic   1.36    Aduephos78
458   25    Male       92  Final Critic   1.36    Jiskassa76
509   28    Male       92  Final Critic   1.36     Iskista88
572   24    Male       92  Final Critic   1.36     Lisossa63
606   20    Male      101  Final Critic   4.62    Lirtossa84
612   18  Female      101  Final Critic   4.62     Isurria36
648   23    Male       92  Final Critic   1.36       Rithe53
663   38    Male      101  Final Critic   4.62  Tyisriphos58
737   22    Male      101  Final Critic   4.62      Sondim68

In [66]:
# **Player Count**

# Total number of unique players (based on SN)
total_players = len(heroes['SN'].unique())
# Create DF
total_players_df = pd.DataFrame({'Total number of players': [total_players]})
total_players_df

   Total number of players
0                      573

In [67]:
# **Purchasing Analysis (Total)**

# Number of unuque items bought, differs with item name
check = len(heroes['Item ID'].unique())
number_unique_items = len(heroes['Item Name'].unique()) #179 somehow
# Average price
av_purch_price = round(heroes['Price'].mean(), 2)
# Number of purchases is equal to rows number (I hope.. )
number_purchases = heroes['Age'].count()
# Total revenue - sum of all prices
total_revenue = heroes['Price'].sum()
# Create DF
purch_analysis_df = pd.DataFrame({'Number of Unique Items': [number_unique_items], 'Average Purchase Price': [av_purch_price],
                                 'Total Number of Purchases': [number_purchases], 'Total Revenue': [total_revenue]})
purch_analysis_df

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.93,179,780,2286.33

In [68]:
# Check what we have in column 'Gender'
heroes['Gender'].value_counts()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [69]:
# **Gender Demographics**

# Create a DF with Gender & SN only
gender_df = heroes[['SN', 'Gender']]
# Delete all duplicates in SN, exept the last one (keep='last')
clean_gender = gender_df.drop_duplicates(['SN'], keep='last')
# Change index to Gender, to use loc. function
clean_gender_ind = clean_gender.set_index('Gender')
# Use loc. to count all 3 variations
male_count = clean_gender_ind.loc['Male', 'SN'].count()
female_count = clean_gender_ind.loc['Female', 'SN'].count()
other_count = clean_gender_ind.loc['Other / Non-Disclosed', 'SN'].count()
# Count persentages
male_perc = round((male_count/total_players*100), 2)
female_perc = round((female_count/total_players*100), 2)
other_perc = round((other_count/total_players*100), 2)
# Create DF
gender_demo = {'Gender': ['Male', 'Female', 'Other / Non-Disclose'],
              'Total count': [male_count, female_count, other_count],
              'Percentage of Players': [male_perc, female_perc, other_perc]}
gender_demo_df = pd.DataFrame(gender_demo)
new_gender_demo = gender_demo_df.set_index('Gender')
new_gender_demo

                      Percentage of Players  Total count
Gender
Male                                  81.15          465
Female                                17.45          100
Other / Non-Disclose                   1.40            8

In [70]:
# **Purchasing Analysis (Gender)**

# Set Gender as index in original df
gender_ind = heroes.set_index('Gender')

# Count a number of purchases
male_purch = gender_ind.loc['Male', 'SN'].count()
female_purch = gender_ind.loc['Female', 'SN'].count()
other_purch = gender_ind.loc['Other / Non-Disclosed', 'SN'].count()

# Count average and total purchases
male_avg_price = round(gender_ind.loc['Male', 'Price'].mean(),2)
male_total = round(gender_ind.loc['Male', 'Price'].sum(), 2)
female_avg_price = round(gender_ind.loc['Female', 'Price'].mean(),2)
female_total = round(gender_ind.loc['Female', 'Price'].sum(), 2)
other_avg_price = round(gender_ind.loc['Other / Non-Disclosed', 'Price'].mean(),2)
other_total = round(gender_ind.loc['Other / Non-Disclosed', 'Price'].sum(), 2)

# Count normalized totals
male_norm_purch = round((male_total / male_count), 2)
female_norm_purch = round((female_total / female_count), 2)
other_norm_purch = round((other_total / other_count), 2)

# Create answer DF
purch_an_gender = {'Gender': ['Male', 'Female', 'Other / Non-Disclose'],
                   'Purchase Count': [male_purch, female_purch, other_purch],
                   'Average Purchase Price': [male_avg_price, female_avg_price, other_avg_price], 
                  'Total Purchase Value': [male_total, female_total, other_total], 
                  'Normalized Totals': [male_norm_purch, female_norm_purch, other_norm_purch]}
purch_an_gender_df = pd.DataFrame(purch_an_gender)
purch_gender_answ = purch_an_gender_df.set_index('Gender')
purch_gender_answ

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Male,2.95,4.02,633,1867.68
Female,2.82,3.83,136,382.91
Other / Non-Disclose,3.25,4.47,11,35.74

In [71]:
# **Age Demographics**

# Check min and max values
print(heroes['Age'].max())
print(heroes['Age'].min())

45
7

In [72]:
# Create bins and labels to them
bins = [4,9,14,19,24,29,34,39,44,49]
labels = ['5 to 9', '10 to 14', '15 to 19', '20 to 24', '25 to 29', '30 to 34',
          '35 to 39', '40 to 44', '45 to 50']
# Add new column with bins
heroes['Age Bins'] = pd.cut(heroes["Age"],bins,labels=labels)
# Group by a new column
age_grouped = heroes.groupby('Age Bins')
# Pick up values
age_purch_count = (age_grouped['Age'].count())
age_avg_purch_price = round((age_grouped['Price'].mean()), 2)
age_total_purch_value = (age_grouped['Price'].sum())

In [73]:
age_df = heroes[['SN', 'Age', 'Age Bins']]
# Delete all duplicates in SN, exept the last one (keep='last')
clean_age = age_df.drop_duplicates(['SN'], keep='last')
clean_age_grouped = clean_age.groupby('Age Bins')

In [74]:
age_demo_df = pd.DataFrame({'Total Count': clean_age_grouped.size(),
                      'Percentage of Players': round(((clean_age_grouped.size()/total_players)*100),2)})

In [75]:
# Purchasing Analysis (Age)
purch_age_df = pd.DataFrame({'Purchase Count': age_purch_count,
                           'Average Purchase Price': age_avg_purch_price,
                            'Total Purchase Value': age_total_purch_value,
                            'Normalized Totals': round(age_total_purch_value/clean_age_grouped.size(), 2)})

In [76]:
# **Top Spenders**

# Extract SN and Price, group by SN, create new DF and sort it by price sum()
price_sn = heroes[['SN', 'Price']]
pr_sn_grouped = price_sn.groupby(['SN'])
price_df = pd.DataFrame(pr_sn_grouped.sum())
price_sorted = price_df.sort_values('Price', ascending=False)
spenders_price = price_sorted.head(5)
# Reset index to default to be able to merge later
spenders_price.reset_index(inplace=True)

# Create a second pd with purchase counts
price_count_df = pd.DataFrame(pr_sn_grouped.count())
price_count_df.reset_index(inplace=True)

# Merge in one
merged_price = pd.merge(spenders_price, price_count_df, on='SN')
merged_price.columns = ['SN', 'Total Purchase Value', 'Purchase Count']
merged_price['Average Purchase Price'] = round((merged_price['Total Purchase Value'] / merged_price['Purchase Count']),2)
top5answer = merged_price.set_index('SN')
top5answer

             Total Purchase Value  Purchase Count  Average Purchase Price
SN
Undirrala66                 17.06               5                    3.41
Saedue76                    13.56               4                    3.39
Mindimnya67                 12.74               4                    3.18
Haellysu29                  12.73               3                    4.24
Eoda93                      11.58               3                    3.86

In [128]:
# **Most Popular Items** First answer:
# There are 183 unique Item IDs and only 179 unique Names, that's why this task has 2 different answers, depends on
# what to use as a base - Item ID or Item Name

# Extract necessary columns
items = heroes[['Item ID','Item Name', 'Price', 'SN']]
#items['SN'] = 1 - calls a warning, so..
# Assign values 1 to SN - better way without warnings
items = items.assign(SN= 1)
items.columns = ['Item ID','Item Name', 'Item Price', 'Purchase Count']
# Group by Name, sort by number of purchases and reset index
items_grouped = items.groupby(['Item ID', 'Item Name'])
items_df = pd.DataFrame(items_grouped.sum())
items_sorted = items_df.sort_values('Purchase Count', ascending=False)
popular_items = items_sorted.head(5)
popular_items.reset_index(inplace=True)
del popular_items['Item ID']
# Create Item ID df
item_id = heroes[['Item Name', 'Item ID']]
# There are 183 unique Item IDs and only 179 unique Names, so I drop ID duplicates
clean_id = item_id.drop_duplicates(['Item ID'], keep='last')
# Merge 2 DFs
merged_items = pd.merge(popular_items, clean_id, on='Item Name')
# Add total value
merged_items['Total Purchase Value'] = merged_items['Item Price'] * merged_items['Purchase Count']
popular_items_answer = merged_items.set_index('Item ID')
popular_items_answer

,Item Name,Item Price,Purchase Count,Total Purchase Value
Item ID,,,,
39,"Betrayal, Whisper of Grieving Widows",25.85,11,284.35
84,Arcane Gem,24.53,11,269.83
31,Trickster,18.63,9,167.67
175,Woeful Adamantite Claymore,11.16,9,100.44
13,Serenity,13.41,9,120.69

In [130]:
# **Most Popular Items** Second answer: 
# Based on Item Name, results are not correct

# Extract necessary columns
items2 = heroes[['Item Name', 'Price', 'SN']]
#items['SN'] = 1 - calls a warning, so..
# Assign values 1 to SN - better way without warnings
items2 = items2.assign(SN= 1)
items2.columns = ['Item Name', 'Item Price', 'Purchase Count']
# Group by Name, sort by number of purchases and reset index
items_grouped2 = items2.groupby(['Item Name'])
items_df2 = pd.DataFrame(items_grouped2.sum())
items_sorted2 = items_df2.sort_values('Purchase Count', ascending=False)
popular_items2 = items_sorted2.head(5)
popular_items2.reset_index(inplace=True)
# Create Item ID df
item_id2 = heroes[['Item Name', 'Item ID']]
# There are 183 unique Item IDs and only 179 unique Names, so I drop ID duplicates
clean_id2 = item_id2.drop_duplicates(['Item ID'], keep='last')
# Merge 2 DFs
merged_items2 = pd.merge(popular_items2, clean_id2, on='Item Name')
# Add total value
merged_items2['Total Purchase Value'] = merged_items2['Item Price'] * merged_items2['Purchase Count']
popular_items_answer2 = merged_items2.set_index('Item ID')
popular_items_answer2

,Item Name,Item Price,Purchase Count,Total Purchase Value
Item ID,,,,
92,Final Critic,38.60,14,540.40
101,Final Critic,38.60,14,540.40
84,Arcane Gem,24.53,11,269.83
39,"Betrayal, Whisper of Grieving Widows",25.85,11,284.35
180,Stormcaller,34.65,10,346.50
30,Stormcaller,34.65,10,346.50
175,Woeful Adamantite Claymore,11.16,9,100.44