In [1]:
import pandas as pd

In [2]:
path = 'Resources/purchase_data.json'
heroes = pd.read_json(path)
heroes.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
# **Player Count**

# Total number of unique players (based on SN)
total_players = len(heroes['SN'].unique())
# Create DF
total_players_df = pd.DataFrame({'Total number of players': [total_players]})
total_players_df

   Total number of players
0                      573

In [4]:
# **Purchasing Analysis (Total)**

# Number of unuque items bought, differs with item name
check = len(heroes['Item ID'].unique())
number_unique_items = len(heroes['Item Name'].unique()) #179 somehow
# Average price
av_purch_price = round(heroes['Price'].mean(), 2)
# Number of purchases is equal to rows number (I hope.. )
number_purchases = heroes['Age'].count()
# Total revenue - sum of all prices
total_revenue = heroes['Price'].sum()
# Create DF
purch_analysis_df = pd.DataFrame({'Number of Unique Items': [number_unique_items], 'Average Purchase Price': [av_purch_price],
                                 'Total Number of Purchases': [number_purchases], 'Total Revenue': [total_revenue]})
purch_analysis_df

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.93,179,780,2286.33

In [5]:
# Check what we have in column 'Gender'
heroes['Gender'].value_counts()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [6]:
# **Gender Demographics**

# Create a DF with Gender & SN only
gender_df = heroes[['SN', 'Gender']]
# Delete all duplicates in SN, exepl the last one (keep='last')
clean_gender = gender_df.drop_duplicates(['SN'], keep='last')
# Change index to Gender, to use loc. function
clean_gender_ind = clean_gender.set_index('Gender')
# Use loc. to count all 3 variations
male_count = clean_gender_ind.loc['Male', 'SN'].count()
female_count = clean_gender_ind.loc['Female', 'SN'].count()
other_count = clean_gender_ind.loc['Other / Non-Disclosed', 'SN'].count()
# Count persentages
male_pers = round((male_count/number_purchases*100), 2)
female_pers = round((female_count/number_purchases*100), 2)
other_pers = round((other_count/number_purchases*100), 2)
# Create DF
gender_demo = {'Gender': ['Male', 'Female', 'Other / Non-Disclose'],
              'Total count': [male_count, female_count, other_count],
              'Percentage of Players': [male_pers, female_pers, other_pers]}
gender_demo_df = pd.DataFrame(gender_demo)
new_gender_demo = gender_demo_df.set_index('Gender')
new_gender_demo

                      Percentage of Players  Total count
Gender
Male                                  59.62          465
Female                                12.82          100
Other / Non-Disclose                   1.03            8

In [7]:
# **Purchasing Analysis (Gender)**

# Group by gender
#heroes['Gender'] = heroes['Gender'].replace({'Male': 1, 'Female': 2, 'Other / Non-Disclosed': 3})
#heroes['Gender'] = pd.to_numeric(heroes['Gender'])
# gender = heroes.groupby(['Gender', 'SN'])
# gender_df = pd.DataFrame(gender['Price'].value_counts())